[submodule "42_Libft"]
	path = 42_Libft
	url = git@github.com:lulutalu/42_Libft.git
[submodule "42_fdf"]
	path = 42_fdf
	url = git@github.com:lulutalu/42_fdf.git
[submodule "42_printf"]
	path = 42_printf
	url = git@github.com:lulutalu/42_printf.git
[submodule "42_Get_Next_Line"]
	path = 42_Get_Next_Line
	url = git@github.com:lulutalu/42_Get_Next_Line.git
[submodule "42_push_swap"]
	path = 42_push_swap
	url = git@github.com:lulutalu/42_push_swap.git
[submodule "42_pipex"]
	path = 42_pipex
	url = git@github.com:lulutalu/42_pipex.git
[submodule "42_philosophers"]
	path = 42_philosophers
	url = git@github.com:lulutalu/42_philosophers.git
[submodule "42_Minishell"]
	path = 42_Minishell
	url = git@github.com:lulutalu/42_Minishell.git
[submodule "42_NetPractice"]
	path = 42_NetPractice
	url = git@github.com:lulutalu/42_NetPractice.git
[submodule "42_CPP_Modules"]
	path = 42_CPP_Modules
	url = git@github.com:lulutalu/42_CPP_Modules.git
[submodule "42_MiniRT"]
	path = 42_MiniRT
	url = git@github.com:lulutalu/42_MiniRT.git
